body {
    font-family: 'Georgia', serif;
    background-color: #ffffff;
    color: #212529;
   }
   
   .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
   }
   
   /* Heading Styles */
   h1 {
    font-size: 3rem;
    color: #343a40;
    text-align: center;
    margin-bottom: 20px;
   }
   
   /* Form Styles */
   .upload-section {
    margin-bottom: 30px;
   }
   
   .form-group {
    margin-bottom: 20px;
   }
   
   .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
   }
   
   /* Enhanced Image Section */
   .enhanced-image-section {
    text-align: center;
   }
   
   .img-fluid {
    max-width: 100%;
    height: auto;
   }
   
   /* Error Section */
   .error-section {
    text-align: center;
   }
   
   .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
   }